<div class="title_container">
  <h1>
    <%= @article.title %>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to edit_article_path(@article) do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </h1>
</div>

<div class="container">
  <p>
    content: <%= @article.content %>
  </p>
  <%= link_to "edit", edit_article_path(@article) %>
  <br>
  <%= link_to "index page", articles_path %>
</div>
